@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root{
    --azul_escuro: #0A3871;
    --branco_claro: #F3F5FC;
    --white: #FFFFFF;
    --cinza: #D8DFE8;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--branco_claro);
    font-weight: 400;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

textarea {
    height: 400px;
    background-color: var(--branco_claro);
    resize: none;
    border: 0px none;
    outline: none;
    font-size: 2rem;
    color: var(--azul_escuro);
}

textarea::placeholder {
    font-size: 2rem;
    color: var(--principal-font-text);
    font-weight: 400;
}

.cabecalho nav {
    padding: 2%;
}

.codificador{
    display: flex;
    gap: 80px;
}

.codificador__digitar{
    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.codificador__digitar__div1{
    display: flex;
    gap: 8px;
}

.codificador__digitar__texto {
    width: 90%;
}

.codificador__digitar__div2{
    display: flex;
    gap: 24px;
}

.codificador__digitar__criptografia{
    padding: 24px;
    width: 50%;
    background-color: var(--azul_escuro);
    color: var(--white);
    border-radius: 24px;
    font-weight: 400;
    font-size: 1rem;
    border-style: none;
    cursor: pointer;
}

.codificador__digitar__descriptografia{
    padding: 24px;
    width: 50%;
    background-color: var(--cinza);
    color: var(--azul_escuro);
    border-radius: 24px;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--azul_escuro);
    cursor: pointer;
}

.codificador__resultado{
    width: 40%;
    background-color: var(--white);
    box-shadow: 0px 24px 32px -8px #00000014;
    border-radius: 32px;
    padding: 5% 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.desactive{
    display: none !important;
}

.output_default_txt{
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 50%;
    align-items: center;
    text-align: center;
}

.text_output{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    color: #495057;
    word-break: break-all;
}

.codificador__resultado__conteudo {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.codificador__resultado h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.codificador__resultado p {
    font-size: 1rem;
}

.codificador__resultado h2, p{
    width: 60%;
}

.codificador__resultado__copiar{
    padding: 24px;
    background-color: var(--white);
    color: var(--azul_escuro);
    border-radius: 24px;
    width: 50%;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--azul_escuro);
    cursor: pointer;
}

.rodape {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3%;
    background-color: var(--azul_escuro);
    color: var(--white);
}

@media (max-width: 1200px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    textarea {
        height: 300px;
    }

    .codificador__resultado{
        align-items: center;
        width: 70%;
    }

    .codificador__resultado__img{
        display: none;
    }

    .codificador__resultado__copiar {
        width: 50%;
    }

    .output_default_txt p{
        width: 90%;
    }
}

.cursor_drop{
    cursor: no-drop;
}

.cursor_pointer{
    cursor: pointer;
}